@import url("theme.css");

/* Main panel */
.wy-nav-content {
    max-width: 80%;
}



/* Maths */
.mathjax-display {
text-align: left;
}

/* Citation tables */
.wy-table-responsive {
    margin: 0;
    border-top: 1px dotted rgba(235,235,235,1) ! important;
}


.citation-table td.label {
width: 100px;
}


/* Main panel */
.main-panel {
max-width: 80%;
}



/* Citation tables */
.citation-table {
margin: 0;
border-top: 1px dotted rgba(235, 235, 235, 1);
}

.citation-table td {
padding: 5px;
}



/*
/ Apply max-width to the main panel /
/ Align math formulas to the left /
/ Style citation tables */
